In [140]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display
from matplotlib import patheffects
import os
import seaborn as sb
import plotly.express as px

Ro = pd.read_excel("Complete.xlsx")

display(Ro.head())

,Country Name,Year,Male Population,Female Population,Total Population,Male ratio,Female ratio,Domestic Revenue,International revenue,Total Revenue,International Arrivals,Literacy,Crime Rate,Currency,Currency in Dollars,Salary/Hour
0,Aruba,2010,48465.0,53200.0,101665.0,47.671273,52.328727,9.726544e+08,1.480977e+09,2453631284.9162,1394000.0,97.34,3.93,AWG,1.79,4.68
1,Aruba,2011,48648.0,53402.0,102050.0,47.670750,52.329250,9.808244e+08,1.657164e+09,2637988826.81564,1469000.0,97.23,1.96,AWG,1.79,4.79
2,Aruba,2012,48870.0,53695.0,102565.0,47.647833,52.352167,1.020756e+09,1.594328e+09,2615083798.88268,1481000.0,96.45,3.90,AWG,1.79,4.86
3,Aruba,2013,49115.0,54050.0,103165.0,47.608200,52.391800,1.142457e+09,1.585476e+09,2727932960.89385,1667000.0,96.82,5.82,AWG,1.79,5.05
4,Aruba,2014,49368.0,54408.0,103776.0,47.571693,52.428307,1.117949e+09,1.673113e+09,2791061452.51397,1739000.0,96.83,1.93,AWG,1.79,5.13

In [141]:
Ro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country Name            3096 non-null   object
 1   Year                    3096 non-null   int64
 2   Male Population         2713 non-null   float64
 3   Female Population       2713 non-null   float64
 4   Total Population        3041 non-null   float64
 5   Male ratio              3041 non-null   float64
 6   Female ratio            3041 non-null   float64
 7   Domestic Revenue        2028 non-null   float64
 8   International revenue   1365 non-null   float64
 9   Total Revenue           2880 non-null   object
 10  International Arrivals  2540 non-null   float64
 11  Literacy                1365 non-null   object
 12  Crime Rate              3072 non-null   float64
 13  Currency                2640 non-null   object
 14  Currency in Dollars     2295 non-null   float64
 15  Salary/Hour             1365 non-null   object
dtypes: float64(10), int64(1), object(5)
memory usage: 387.1+ KB

In [142]:
# Cleaning - Dropping Unecessary Columns

Ro.drop(['Male ratio','Female ratio'], axis = 1, inplace = True)

display(Ro.head())

,Country Name,Year,Male Population,Female Population,Total Population,Domestic Revenue,International revenue,Total Revenue,International Arrivals,Literacy,Crime Rate,Currency,Currency in Dollars,Salary/Hour
0,Aruba,2010,48465.0,53200.0,101665.0,9.726544e+08,1.480977e+09,2453631284.9162,1394000.0,97.34,3.93,AWG,1.79,4.68
1,Aruba,2011,48648.0,53402.0,102050.0,9.808244e+08,1.657164e+09,2637988826.81564,1469000.0,97.23,1.96,AWG,1.79,4.79
2,Aruba,2012,48870.0,53695.0,102565.0,1.020756e+09,1.594328e+09,2615083798.88268,1481000.0,96.45,3.90,AWG,1.79,4.86
3,Aruba,2013,49115.0,54050.0,103165.0,1.142457e+09,1.585476e+09,2727932960.89385,1667000.0,96.82,5.82,AWG,1.79,5.05
4,Aruba,2014,49368.0,54408.0,103776.0,1.117949e+09,1.673113e+09,2791061452.51397,1739000.0,96.83,1.93,AWG,1.79,5.13

In [143]:
#Renaming Columns

Ro.rename(columns={'Country Name':'Countries','Male Population':'Male_count','Female Population':'Female_count',
                  'Currency in Dollars':'Curr_$'}, inplace=True)

display(Ro.head())

,Countries,Year,Male_count,Female_count,Total Population,Domestic Revenue,International revenue,Total Revenue,International Arrivals,Literacy,Crime Rate,Currency,Curr_$,Salary/Hour
0,Aruba,2010,48465.0,53200.0,101665.0,9.726544e+08,1.480977e+09,2453631284.9162,1394000.0,97.34,3.93,AWG,1.79,4.68
1,Aruba,2011,48648.0,53402.0,102050.0,9.808244e+08,1.657164e+09,2637988826.81564,1469000.0,97.23,1.96,AWG,1.79,4.79
2,Aruba,2012,48870.0,53695.0,102565.0,1.020756e+09,1.594328e+09,2615083798.88268,1481000.0,96.45,3.90,AWG,1.79,4.86
3,Aruba,2013,49115.0,54050.0,103165.0,1.142457e+09,1.585476e+09,2727932960.89385,1667000.0,96.82,5.82,AWG,1.79,5.05
4,Aruba,2014,49368.0,54408.0,103776.0,1.117949e+09,1.673113e+09,2791061452.51397,1739000.0,96.83,1.93,AWG,1.79,5.13

In [144]:
#Checking null values

Ro.isnull().sum()

Countries                    0
Year                         0
Male_count                 383
Female_count               383
Total Population            55
Domestic Revenue          1068
International revenue     1731
Total Revenue              216
International Arrivals     556
Literacy                  1731
Crime Rate                  24
Currency                   456
Curr_$                     801
Salary/Hour               1731
dtype: int64

In [145]:
# Dropping Rows
Ro.drop(Ro.loc[Ro['Countries']=='World'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Africa Eastern and Southern'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Africa Western and Central'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Angola'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Albania'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Andorra'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Arab World'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Armenia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='American Samoa'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Antigua and Barbuda'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Azerbaijan'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Burundi'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Benin'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Burkina Faso'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Bosnia and Herzegovina'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Belarus'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Belize'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Bermuda'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Barbados'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Brunei Darussalam'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Botswana'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Central African Republic'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Central Europe and the Baltics'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Channel Islands'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Comoros'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Cabo Verde'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Caribbean small states'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Curacao'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Cayman Islands'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Cyprus'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Djibouti'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Dominica'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Dominican Republic'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Algeria'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Early-demographic dividend'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='East Asia & Pacific'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Europe & Central Asia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Ecuador'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Euro area'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Eritrea'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Estonia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='European Union'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Fragile and conflict affected situations'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Faroe Islands'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Gabon'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Gibraltar'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Guinea-Bissau'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Equatorial Guinea'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Grenada'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Greenland'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Guam'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Guyana'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='High income'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Haiti'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='IBRD only'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='IDA & IBRD total'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='IDA total'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='IDA blend'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='IDA only'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Isle of Man'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Not classified'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Kyrgyz Republic'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Kiribati'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Lao PDR'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Latin America & Caribbean'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Least developed countries: UN classification'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Low income'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Liechtenstein'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Lower middle income'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Low & middle income'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Lesotho'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Late-demographic dividend'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Luxembourg'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Latvia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Monaco'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Moldova'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Middle East & North Africa'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Middle income'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='North Macedonia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Mali'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Malta'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Montenegro'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Northern Mariana Islands'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Mozambique'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Mauritania'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Malawi'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='North America'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='New Caledonia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Niger'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Nicaragua'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Nauru'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='OECD members'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Other small states'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Panama'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Palau'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Pre-demographic dividend'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Puerto Rico'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='West Bank and Gaza'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Pacific island small states'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Post-demographic dividend'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='French Polynesia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Rwanda'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='South Asia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Sudan'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Senegal'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Solomon Islands'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Sierra Leone'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='El Salvador'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='San Marino'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Somalia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='South Sudan'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Sub-Saharan Africa'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Small states'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Sao Tome and Principe'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Suriname'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Slovak Republic'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Slovenia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Eswatini'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Seychelles'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Syrian Arab Republic'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Turks and Caicos Islands'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Chad'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Togo'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Tajikistan'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Turkmenistan'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Timor-Leste'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Tonga'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Tunisia'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Tuvalu'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='United States'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Upper middle income'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='British Virgin Islands'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Vanuatu'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Samoa'].index, inplace=True)
Ro.drop(Ro.loc[Ro['Countries']=='Kosovo'].index, inplace=True)

In [184]:
#Checking Duplicates

duplicate = Ro1[Ro1.duplicated()]
duplicate.count()

Countries                 13
Year                      13
Male_count                13
Female_count              13
Total Population          13
Domestic Revenue          13
International revenue     13
Total Revenue             13
International Arrivals    13
Literacy                  13
Crime Rate                13
Currency                  13
Curr_$                    13
Salary/Hour               13
dtype: int64

In [183]:
#Checking null values

Ro.isnull().sum()

Countries                 0
Year                      0
Male_count                0
Female_count              0
Total Population          0
Domestic Revenue          0
International revenue     0
Total Revenue             0
International Arrivals    0
Literacy                  0
Crime Rate                0
Currency                  0
Curr_$                    0
Salary/Hour               0
dtype: int64

In [146]:
# Saving the File

Ro.to_csv("Ros.csv")

In [186]:
Ro1 = pd.read_csv("Ros.csv")
display(Ro1.head())

,Countries,Year,Male_count,Female_count,Total Population,Domestic Revenue,International revenue,Total Revenue,International Arrivals,Literacy,Crime Rate,Currency,Curr_$,Salary/Hour
0,Aruba,2010,48465,53200,101665,9.726544e+08,1.480977e+09,2.453631e+09,1394000,97.34,3.93,AWG,1.79,4.68
1,Aruba,2011,48648,53402,102050,9.808244e+08,1.657164e+09,2.637989e+09,1469000,97.23,1.96,AWG,1.79,4.79
2,Aruba,2012,48870,53695,102565,1.020756e+09,1.594328e+09,2.615084e+09,1481000,96.45,3.90,AWG,1.79,4.86
3,Aruba,2013,49115,54050,103165,1.142457e+09,1.585476e+09,2.727933e+09,1667000,96.82,5.82,AWG,1.79,5.05
4,Aruba,2014,49368,54408,103776,1.117949e+09,1.673113e+09,2.791061e+09,1739000,96.83,1.93,AWG,1.79,5.13

In [187]:
#Checking null values

Ro.isnull().sum()

Countries                 0
Year                      0
Male_count                0
Female_count              0
Total Population          0
Domestic Revenue          0
International revenue     0
Total Revenue             0
International Arrivals    0
Literacy                  0
Crime Rate                0
Currency                  0
Curr_$                    0
Salary/Hour               0
dtype: int64

In [188]:
# Count of Countries in Dataset

c = Ro1['Countries'].groupby(Ro1['Countries'])
t = c.count()
print('Total Number of Countries:', t)

Total Number of Countries: Countries
Afghanistan    13
Argentina      13
Aruba          13
Australia      13
Austria        13
               ..
Uzbekistan     13
Vietnam        13
Yemen, Rep.    13
Zambia         13
Zimbabwe       13
Name: Countries, Length: 105, dtype: int64

In [151]:
s = Ro['Countries'].groupby(Ro['Countries']).count()
k = s.count()
print('Total Number of Countries:', k)

Total Number of Countries: 105